# Core Data Science & ML
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
tensorflow==2.16.1
matplotlib==3.8.4
seaborn==0.13.2

# F1 Data
fastf1==3.4.0

# Backend & API
fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn==22.0.0

# Frontend
streamlit==1.35.0

# Utilities
requests==2.31.0